<h2>Persona Confidant Manager</h2>

<table border="1">

  <thead>

    <tr>
    <th>Name</th>
    <th>Arcana</th>
    <th>Game</th>
    <th>Rank</th>
    <th>Notes</th>
    <th>Save</th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let confidant of confidants">

    <td>{{confidant.name}}</td>

    <td>{{confidant.arcana}}</td>

    <td>{{confidant.game}}</td>

    <td>{{confidant.rank}} / {{confidant.maxRank}}</td>

    <td>

    <input
    [(ngModel)]="confidant.notes"
    style="width:300px"
    />

    </td>

    <td>

    <button (click)="saveNotes(confidant)">
    Save
    </button>

    </td>

    </tr>

  </tbody>

</table>